.slides{
    height: 300px;
    width: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slide img {
    width: 100%;
    height: 100%;
}

.right-in{
    animation: right-in 2s;
    z-index: 2;
}

.left-out{
    animation: left-out 2s;
    z-index: 1;
}

.left-in{
    animation: left-in 2s;
    z-index: 2;
}

.right-out{
    animation: right-out 2s;
    z-index: 1;
}

@keyframes right-in {
    from {
        left: 500px;
    }
    to {
        left: 0;
    }
}

@keyframes left-out {
    from {
        left: 0;
    }
    to {
        left: -500px;
    }
}

@keyframes left-in {
    from {
        left: -500px;
    }
    to {
        left: 0;
    }
}

@keyframes right-out {
    from {
        left: 0;
    }
    to {
        left: 500px;
    }
}